$font-parkson : 'Parkson';

@font-face {
    font-family: 'Parkson';
    src: url('../font/ParksonPERSONALUSE-SemiBoldItalicOutline.ttf') format("ttf"),
     url('../font/ParksonPERSONALUSE-SemiBoldItalicOutline.ttf') format("ttf") ;
    font-weight: normal;
}